@font-face {
  font-family: 'Noto Naskh';
  src: url("/fonts/NotoNaskhArabic-Bold.ttf") format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Naskh';
  src: url("/fonts/NotoNaskhArabic-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Naskh';
  src: url("/fonts/NotoNaskhArabic-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Naskh';
  src: url("/fonts/NotoNaskhArabic-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins-Bold.ttf") format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--siteFont);
}
.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primaryColor);
}
:root {
  --themeColorDark: #5d4037;
  --themeColor: #795548;
  --primaryColor: #d7ccc8;
  --textColor: #fff;
  --accentColor: #9e9e9e;
  --primaryTextColor: #212121;
  --secondaryTextColor: #757575;
  --dividerColor: #bdbdbd;
  --sitePadding: 8vw;
  --navbarHeight: 4em;
  --boxPadding: 2em;
  --siteFont: 'Poppins';
}
.formContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.formContainer .formBox {
  padding: var(--boxPadding);
  max-width: 60%;
  max-height: 80%;
  display: flex;
  gap: calc(var(--boxPadding) / 2);
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--accentColor);
}
.formContainer .formBox .title {
  color: var(--themeColor);
}
.formContainer .formBox .form {
  display: flex;
  gap: calc(var(--boxPadding) / 2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formContainer .formBox .form .row {
  width: 100%;
  display: flex;
  gap: calc(var(--boxPadding) / 2);
  justify-content: space-between;
  align-items: center;
}
.formContainer .formBox .form .row:first-of-type {
  margin-top: var(--boxPadding);
}
.formContainer .formBox .form .row:last-of-type {
  margin-bottom: calc(var(--boxPadding) / 2);
}
.formContainer .formBox .form .row .def {
  font-size: 1em;
  color: var(--primaryTextColor);
}
.formContainer .formBox .form .row .input {
  padding: 0.5em 1em;
  font-size: 1em;
  color: var(--themeColor);
  background-color: var(--primaryColor);
  border: unset;
  border-radius: 5px;
}
.formContainer .formBox .form .error {
  margin-bottom: calc(var(--boxPadding) / 2);
  line-height: 0;
  color: #e61919;
  font-size: 0.8em;
  pointer-events: none;
}
.formContainer .formBox .form .button {
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  background-color: var(--themeColor);
  border: unset;
  border-radius: 5px;
}
.formContainer .formBox .form .link {
  text-decoration: none;
}
.formContainer .formBox .form .link:hover,
.formContainer .formBox .form .link:focus {
  text-decoration: underline;
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container .navigation {
  padding: 0 var(--sitePadding);
  width: 100%;
  height: var(--navbarHeight);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--themeColorDark);
}
.container .navigation .navList {
  display: flex;
}
.container .navigation .navList .list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.container .navigation .navList .list .navLink {
  text-decoration: none;
  color: var(--textColor);
}
.container .navigation .navList .list .navLink:hover {
  text-decoration: underline;
}
.container .navigation .navList .list .arrow {
  margin: 0 2em;
  font-size: 0.8em;
  color: var(--textColor);
}
.container .workspaceContainer {
  padding: 0 var(--sitePadding);
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100% - var(--navbarHeight));
}
.container .workspaceContainer .sideMenu {
  padding: calc(var(--sitePadding) / 2);
  padding-right: calc(var(--sitePadding) / 6);
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--accentColor);
}
.container .workspaceContainer .sideMenu .sideList {
  width: 100%;
}
.container .workspaceContainer .sideMenu .sideList .list {
  margin-bottom: 0.3em;
  width: 100%;
  list-style-type: none;
}
.container .workspaceContainer .sideMenu .sideList .list .listLink {
  padding: 1em;
  padding-left: calc(var(--sitePadding) - (var(--sitePadding) / 2));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--textColor);
  transition: background-color 0.2s ease-in-out;
}
.container .workspaceContainer .sideMenu .sideList .list .listLink .arrow {
  margin: 0 2em;
  font-size: 0.8em;
  color: var(--textColor);
  transform: translateX(-100%);
  transition: opacity, transform 0.2s ease-in-out;
  opacity: 0;
}
.container .workspaceContainer .sideMenu .sideList .list .listLink.active,
.container .workspaceContainer .sideMenu .sideList .list .listLink:hover,
.container .workspaceContainer .sideMenu .sideList .list .listLink:focus {
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
}
.container .workspaceContainer .sideMenu .sideList .list .listLink.active .arrow,
.container .workspaceContainer .sideMenu .sideList .list .listLink:hover .arrow,
.container .workspaceContainer .sideMenu .sideList .list .listLink:focus .arrow {
  opacity: 1;
  color: var(--primaryTextColor);
  transform: translateX(0%);
}
.container .workspaceContainer .workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.container .workspaceContainer .workspace.projects {
  flex-grow: 0;
}
.container .workspaceContainer .workspace.index {
  justify-content: space-between;
}
.container .workspaceContainer .workspace.index .actionButtons {
  align-self: flex-end;
}
.container .workspaceContainer .workspace .formBox {
  padding: var(--boxPadding);
  max-width: 80%;
  display: flex;
  gap: calc(var(--boxPadding) / 2);
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--accentColor);
  overflow: hidden;
}
.container .workspaceContainer .workspace .formBox .title {
  color: var(--textColor);
}
.container .workspaceContainer .workspace .formBox .form {
  display: flex;
  gap: calc(var(--boxPadding) / 2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .workspaceContainer .workspace .formBox .form .row {
  width: 100%;
  display: flex;
  gap: calc(var(--boxPadding) / 2);
  justify-content: space-between;
  align-items: center;
}
.container .workspaceContainer .workspace .formBox .form .row:first-of-type {
  margin-top: var(--boxPadding);
}
.container .workspaceContainer .workspace .formBox .form .row:last-of-type {
  margin-bottom: calc(var(--boxPadding) / 2);
}
.container .workspaceContainer .workspace .formBox .form .row .def {
  font-size: 1em;
  color: var(--primaryTextColor);
}
.container .workspaceContainer .workspace .formBox .form .row .input {
  padding: 0.5em 1em;
  font-size: 1em;
  color: var(--themeColor);
  background-color: var(--primaryColor);
  border: unset;
  border-radius: 5px;
}
.container .workspaceContainer .workspace .formBox .form .error {
  margin-bottom: calc(var(--boxPadding) / 2);
  line-height: 0;
  color: #e61919;
  font-size: 0.8em;
  pointer-events: none;
}
.container .workspaceContainer .workspace .formBox .form .button {
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  background-color: var(--themeColor);
  border: unset;
  border-radius: 5px;
}
.container .workspaceContainer .workspace .formBox .form .link {
  text-decoration: none;
}
.container .workspaceContainer .workspace .formBox .form .link:hover,
.container .workspaceContainer .workspace .formBox .form .link:focus {
  text-decoration: underline;
}
.container .workspaceContainer .workspace .formBox .form.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}
.container .workspaceContainer .workspace .formBox .form.grid .row {
  align-items: flex-start;
}
.container .workspaceContainer .workspace .formBox .form.grid .row:first-of-type {
  margin-top: unset;
}
.container .workspaceContainer .workspace .formBox .form.grid .row:last-of-type {
  margin-bottom: unset;
}
.container .workspaceContainer .workspace .formBox .form.grid .row.spanTwo {
  grid-column: span 2;
}
.container .workspaceContainer .workspace .formBox .form.grid .row.spanTwo textarea {
  width: 100%;
}
.container .workspaceContainer .workspace .formBox .form.grid .row .def {
  font-size: 0.8em;
  color: var(--primaryTextColor);
}
.container .workspaceContainer .workspace .formBox .form.grid .row .input {
  font-size: 0.6em;
}
.container .workspaceContainer .workspace .formBox .form.grid .actionButtons {
  grid-column: span 2;
  justify-content: center;
}
.container .workspaceContainer .workspace .info {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-grow: 1;
  overflow-y: auto;
}
.container .workspaceContainer .workspace .info .infoContainer {
  padding: 0.5em;
  display: block;
  min-height: 3em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: unset;
  border: 1px solid var(--accentColor);
  border-radius: 5px;
  overflow: hidden;
}
.container .workspaceContainer .workspace .info .infoContainer:hover,
.container .workspaceContainer .workspace .info .infoContainer:focus-within {
  background-color: var(--accentColor);
}
.container .workspaceContainer .workspace .info .infoContainer .infos {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex-grow: 1;
}
.container .workspaceContainer .workspace .info .infoContainer .infos .data {
  font-size: 0.8em;
}
.container .workspaceContainer .workspace .info .infoContainer .infos .data .value {
  margin-left: 4px;
  font-weight: 400;
}
.container .workspaceContainer .workspace .info .buttons {
  display: flex;
  gap: 0.5em;
}
.container .workspaceContainer .workspace .info .buttons button {
  display: inline-block;
  padding: 0.4em 0.8em;
  cursor: pointer;
  color: var(--themeColor);
  background-color: unset;
  border: 1px solid var(--themeColor);
  border-radius: 4em;
}
.container .workspaceContainer .workspace .info .buttons button:hover,
.container .workspaceContainer .workspace .info .buttons button:focus {
  background-color: var(--themeColor);
  color: #fff;
}
.container .workspaceContainer .workspace .actionButtons {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .workspaceContainer .workspace .actionButtons button {
  display: inline-block;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-size: 0.8em;
  background-color: var(--themeColor);
  color: #fff;
  border: 1px solid var(--themeColor);
  border-radius: 5px;
}
.container .workspaceContainer .workspace .actionButtons button:hover,
.container .workspaceContainer .workspace .actionButtons button:focus {
  box-shadow: 0px 0px 8px var(--themeColor);
}
.container .workspaceContainer .workspace .infoBox {
  padding: var(--boxPadding);
  width: 80%;
  display: grid;
  grid-auto-columns: repeat(2, 2fr);
  grid-gap: 1em;
}
.container .workspaceContainer .workspace .infoBox .title {
  text-align: center;
  color: var(--themeColor);
}
.container .workspaceContainer .workspace .infoBox .field .info {
  font-size: 0.8em;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  flex-direction: unset;
  color: var(--primaryTextColor);
}
.container .workspaceContainer .workspace .infoBox .field .info span {
  display: inline-block;
  color: var(--secondaryTextColor);
}
.container .workspaceContainer .workspace .infoBox .actionButtons {
  justify-content: center;
}
