.navigation {
  padding: 0 var(--sitePadding);
  width: 100%;
  height: var(--navbarHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--themeColorDark);

  .navList {
    display: flex;

    .list {
      display: flex;
      align-items: center;
      list-style-type: none;

      .navLink {
        text-decoration: none;
        color: var(--textColor);

        &:hover {
          text-decoration: underline;
        }
      }

      .arrow {
        margin: 0 2em;
        font-size: 0.8em;
        color: var(--textColor);
      }
    }
  }

  .buttons {
    .logout {
      display: inline-block;
      padding: 0.5em 1em;
      color: var(--primaryColor);
      background-color: unset;
      border: 1px solid var(--primaryColor);
      transition: box-shadow 0.3s ease-in-out;
      border-radius: 5em;
      cursor: pointer;

      &:hover,
      &:focus {
        box-shadow: 0 0 6px var(--primaryColor);
      }
    }
  }
}