:root {
  --themeColorDark: #5D4037;
  --themeColor: #795548;
  --primaryColor: #D7CCC8;
  --textColor: #FFFFFF;
  --accentColor: #9E9E9E;
  --primaryTextColor: #212121;
  --secondaryTextColor: #757575;
  --dividerColor: #BDBDBD;
  --sitePadding: 8vw;
  --navbarHeight: 4em;
  --boxPadding: 2em;
  --siteFont: 'Poppins';
}