:root {
  --themeColor: hsl(320, 60%, 31%);
  --primaryColor: hsl(187, 28%, 75%);
  --secondaryColor: hsl(187, 28%, 60%);
  --semiTransparent: hsla(187, 28%, 75%, 20);
  --textColor: hsl(320, 60%, 10%);
  --sitePadding: 8vw;
  --navbarHeight: 4em;
  --siteFont: 'Poppins';
}