form {
  flex-grow: 1;
}

.workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &.projects {
    // flex-grow: 0;
  }

  &.index {
    justify-content: space-between;

    .actionButtons {
      align-self: flex-end;
    }
  }

  .formBox {
    padding: var(--boxPadding);
    max-width: 80%;
    display: flex;
    gap: calc(var(--boxPadding) / 2);
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color:  var(--accentColor);
    overflow: hidden;

    .title {
      color: var(--textColor);
    }

    inputForm();

    .form {
      &.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;

        .row {
          align-items: flex-start;

          &:first-of-type {
            margin-top: unset;
          }

          &:last-of-type {
            margin-bottom: unset;
          }

          &.spanTwo {
            grid-column: span 2;

            textarea {
              width: 100%;
            }
          }

          .def {
            font-size: 0.8em;
            color: var(--primaryTextColor);
          }

          .input {
            font-size: 0.8em;
            flex-grow: 1;
          }
        }

        .error {
          margin: calc(var(--boxPadding) / 2) 0 0;
          font-family: 'Noto Naskh';
          text-align: center;
          grid-column: span 2;
        }

        .actionButtons {
          grid-column: span 2;
          justify-content: center;
        }
      }
    }
  }

  .info {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 1;
    overflow-y: auto;

    .infoContainer {
      padding: 0.5em;
      min-height: 3em;
      display: flex;
      gap: 1em;
      justify-content: space-between;
      align-items: center;
      background-color: unset;
      border: 1px solid var(--accentColor);
      border-radius: 5px;
      overflow: hidden;

      &:hover,
      &:focus-within {
        box-shadow: 0px 0px 8px var(--themeColor);
      }

      .infos {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        flex-grow: 1;

        .data {
          font-size: 0.8em;

          .value {
            margin-left: 4px;
            font-weight: 400;
          }
        }
      }
    }

    .buttons {
      display: flex;
      gap: 0.5em;

      button {
        display: inline-block;
        padding: 0.4em 0.8em;
        cursor: pointer;
        color: var(--themeColor);
        background-color: unset;
        border: 1px solid var(--themeColor);
        border-radius: 4em;

        &:hover,
        &:focus {
          background-color: var(--themeColor);
          color: #FFFFFF;
        }
      }
    }
  }

  .actionButtons {
    padding: 1em;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: center;

    button {
      display: inline-block;
      padding: 0.5em 1.5em;
      cursor: pointer;
      font-size: 0.8em;
      background-color: var(--themeColor);
      color: #FFFFFF;
      border: 1px solid var(--themeColor);
      border-radius: 5px;

      &:hover,
      &:focus {
        box-shadow: 0px 0px 8px var(--themeColor);
      }
    }
  }

  .infoBox {
    padding: var(--boxPadding);
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .title {
      // grid-column: span 2;
      text-align: center;
      color: var(--themeColor);
    }

    .field {
      .info {
        font-size: 0.8em;
        display: flex;
        gap: 2em;
        justify-content: space-between
        align-items: flex-start;
        flex-direction: unset;
        color: var(--primaryTextColor);

        span {
          display: inline-block;
          max-width: 20em;
          word-wrap: break-word;
          color: var(--secondaryTextColor);
        }
      }
    }

    .actionButtons {
      justify-content: center;
    }
  }
}