@import "partials/universal";
@import "partials/variables";
@import "partials/mixins";
@import "partials/login";

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @import "partials/navbar";

  .workspaceContainer {
    padding: 0 var(--sitePadding);
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100% - var(--navbarHeight));

    @import "partials/sidebar";
    @import "partials/workspace";
  }
}